:root {
	--text: #e9eceb;
	--background: #181b1a;
	--primary: #8d8494;
	--secondary: #0e100f;
	--accent: #948d84;
	--font: "Karla", sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 4.3rem;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: var(--font);
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
	position: sticky;
	top: 0;
	background-color: var(--secondary);
	z-index: 10;
}

.logo {
	box-sizing: border-box;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: 1rem;
	cursor: pointer;
	padding: 0.25rem;
	border-radius: 10px;
	overflow: hidden;
	color: var(--text);
	text-decoration: none;
}

.logo .logoText {
	box-sizing: border-box;
	position: relative;
	mix-blend-mode: difference;
	margin: 0;
	transition: 0.3s ease-in-out;
}

.logo .logoBox {
	box-sizing: border-box;
	position: absolute;
	background-color: var(--text);
	height: 100%;
	width: 53%;
	right: 0;
	transition: right 0.3s ease-in-out, left 0.3s ease-in-out,
		width 0.3s ease-in-out;
}

.logo:hover .logoBox,
.logo:focus-visible .logoBox {
	right: 53%;
	width: 47%;
}

.logo:focus-visible {
	outline: 4px solid var(--primary);
}

nav {
	margin-inline: 1rem;
}

nav .navIcon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	box-sizing: border-box;
	background-color: transparent;
	transition: transform 0.3s ease-in-out;
	border-radius: 10px;
	padding: 0.25rem;
	border: none;
}

.navIcon span {
	position: absolute;
	display: block;
	background-color: var(--text);
	height: 15%;
	width: 80%;
	border-radius: 5px;
	left: 10%;
}

.navIcon .hamburgerLine1 {
	top: 15%;
	transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navIcon .hamburgerLine2 {
	top: 42.5%;
	transition: opacity 0.3s ease-in-out;
}

.navIcon .hamburgerLine3 {
	transform: rotate(180deg);
	bottom: 15%;
	transition: bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navIcon .hamburger {
	position: absolute;
	opacity: 1;
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.navIcon input {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.navIcon input:checked~.hamburger .hamburgerLine1 {
	top: 42.5%;
	transform: rotate(45deg);
}

.navIcon input:checked~.hamburger .hamburgerLine2 {
	opacity: 0;
}

.navIcon input:checked~.hamburger .hamburgerLine3 {
	bottom: 42.5%;
	transform: rotate(135deg);
}

.navIcon:hover {
	transform: scale(1.1);
}

.navIcon:focus-visible {
	outline: 4px solid var(--primary);
}

nav .tabList {
	position: absolute;
	right: 0;
	top: 100%;
	height: fit-content;
	max-height: 0px;
	overflow: hidden;
	min-width: 8rem;
	background-color: var(--accent);
	border-radius: 0 0 10px 10px;
	transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.tabList .tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs .tabItem {
	text-align: right;
	padding: 0.25rem;
}

.tabItem a {
	text-decoration: none;
	color: var(--secondary);
	cursor: pointer;
	border-radius: 10px;
	margin: 0.25rem;
	padding-block: 0.1rem;
	padding-inline: 0.25rem;
	font-size: inherit;
	transition: font-size 0.3s ease-in-out;
}

.tabItem a:hover,
.tabItem a:focus-visible {
	font-size: larger;
}

.tabItem a:focus-visible {
	outline: 4px solid var(--background);
}

section {
	box-sizing: border-box;
	position: relative;
	min-height: 50rem;
	overflow-x: hidden;
	width: 100%;
}

section:nth-of-type(2n) {
	background-color: var(--text);
	color: var(--background);
}

.introText {
	position: relative;
	width: fit-content;
	height: fit-content;
	display: flex;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 6rem;
	z-index: 1;
	--introTextHeight: 1rem;
}

.introText .blurEffect {
	position: relative;
	height: var(--introTextHeight);
	left: 1ch;
	box-sizing: border-box;
}

.blurEffect::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: -5%;
	width: 120%;
	height: 15rem;
	background: linear-gradient(var(--background) 7rem, transparent 15rem);
	z-index: 2;
	pointer-events: none;
}

.blurEffect::after {
	content: "";
	position: absolute;
	top: 0;
	right: -5%;
	width: 120%;
	height: 15rem;
	background: linear-gradient(transparent 1rem, var(--background) 7rem);
	z-index: 2;
	pointer-events: none;
}

.mobileIntroScroll {
	display: none;
	position: absolute;
	--arrowSize: 1rem;
	width: var(--arrowSize);
	height: calc(2.5 * var(--arrowSize));
	top: 0;
	right: calc(-1.25 * var(--arrowSize));
}

.mobileArrow {
	position: absolute;
	width: 0;
	height: 0;
	border: calc(var(--arrowSize) / 2) solid transparent;
	cursor: pointer;
	transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
	filter: opacity(25%);
}

.mobileArrow:hover, .mobileArrow:focus-visible {
	transform: scale(1.1);
	filter: opacity(75%);
}

.mobileUpArrow {
	top: 0;
	border-top: 0;
	border-bottom: var(--arrowSize) solid rgb(255, 255, 255);
}

.mobileDownArrow {
	bottom: 0;
	border-bottom: 0;
	border-top: var(--arrowSize) solid rgb(255, 255, 255);
}

.blurEffect .vScroll {
	position: relative;
	display: flex;
	height: fit-content;
	flex-direction: column;
	box-sizing: border-box;
	height: fit-content;
	gap: 0.5rem;
	user-select: none;
}

.vScroll h2 {
	position: relative;
	margin: 0;
	cursor: grab;
}

.introText * {
	box-sizing: border-box;
	font-size: var(--introTextHeight);
	padding-block: 0rem;
	margin-block: 0rem;
}

.dragging {
	cursor: grabbing !important;
}

.introImage {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

.imageSphere {
	position: absolute;
	z-index: 2;
	transition: transform 1000ms ease-in-out;
}

.imageSphere:not(:nth-of-type(2)) {
	transform: translateY(-70rem);
}

.aboutCircle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}

.aboutCircle.yellow {
	background: rgb(255, 255, 0);
	box-shadow: inset 30px -20px 60px 0 rgb(51, 51, 0);
	border: 2px solid black;
}

.aboutCircle.red {
	background: rgb(255, 90, 90);
	box-shadow: inset 30px -20px 60px 0 rgb(51, 18, 18);
	border: 2px solid black;
}

.aboutCircle.cyan {
	background: rgb(0, 255, 255);
	box-shadow: inset 30px -20px 60px 0 rgb(0, 51, 51);
	border: 2px solid black;
}

.aboutCircle.green {
	background: rgb(0, 255, 0);
	box-shadow: inset 30px -20px 60px 0 rgb(0, 51, 0);
	border: 2px solid black;
}

.aboutCircle.white {
	background: rgb(255, 255, 255);
	box-shadow: inset 30px -20px 60px 0 rgb(51, 51, 51);
	border: 2px solid black;
}

.circleShine {
	content: '';
	width: 0;
	height: 0;
	background: white;
	position: absolute;
	top: 30%;
	right: 30%;
	border-radius: 50%;
	box-shadow: 0 0 30px 10px white;
}

.circleShadow {
	content: '';
	width: 190%;
	height: 130%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0.3rem;
	border-radius: 50%;
	transform: perspective(200px) translateZ(-100px) translateX(-11rem) translateY(0.5rem) rotate(10deg);
	transform-origin: bottom;
}

.circleShadow::after {
	content: '';
	position: absolute;
	width: 125%;
	height: 65%;
	top: -19%;
	left: -3rem;
	transform: rotate(-10deg);
	background-color: var(--background);
}

.aboutCircle .centerImage {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerImage svg {
	position: relative;
	width: 100%;
	height: 100%;
}

.smallerImage svg {
	position: relative;
	width: 80%;
	height: 80%;
}

.evenSmallerImage svg {
	position: relative;
	width: 60%;
	height: 60%;
}

.left {
	left: 5%
}

.black {
	color: var(--secondary);
	font-weight: bold;
	font-size: 4rem;
}

.introDesc {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	bottom: -6rem;
}

.tableFront {
	position: absolute;
	width: 300rem;
	height: 15rem;
	bottom: -27rem;
	background-color: var(--accent);
	box-shadow: inset 15rem 15rem rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.tableTop {
	position: absolute;
	width: 300rem;
	height: 10rem;
	bottom: -4rem;
	background-color: var(--accent);
	transform: perspective(200px) rotateX(45deg) translateZ(-100px);
	z-index: 2;
}

.descriptionText {
	position: absolute;
	width: 15rem;
	height: 80%;
	text-align: center;
	padding: 0.5rem;
	max-width: 20rem;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--text);
	z-index: 2;
}

.descriptionText:nth-child(2) {
	transform: translate(-0.11rem, 0.12rem);
	color: var(--secondary);
	z-index: 1;
}

.rollIn {
	animation: rollIn 500ms linear infinite;
}

@keyframes rollIn {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.slideIn {
	animation: slideIn 1500ms cubic-bezier(0.445, 0.105, 0.245, 1.70) 1 none;
	animation-fill-mode: forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(-70rem);
	}

	100% {
		transform: translateX(0rem);
	}
}

.slideOut {
	animation: slideOut 1500ms cubic-bezier(0.445, 0.105, 0.245, 1.430) 1 none;
}

@keyframes slideOut {
	0% {
		transform: translateX(0rem);
	}

	100% {
		transform: translateX(70rem);
	}
}

@media (max-width: 300px) {
	section::before {
		content: "300px";
		font-size: 3rem;
		font-weight: bold;
		opacity: 0.5;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		bottom: 0;
	}
}